<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.unity3d.player">

	<uses-feature android:name="android.hardware.usb.host" android:required="false" />

	<!-- ✅ Añadido tools:replace="android:banner" para resolver el conflicto -->
	<application
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:isGame="true"
        android:banner="@drawable/app_banner"
        tools:replace="android:banner"
        tools:targetApi="31">

		<!-- 🔹 UnityPlayerActivity -->
		<activity android:name="com.unity3d.player.UnityPlayerActivity"
                  android:theme="@style/UnityThemeSelector"
                  android:screenOrientation="landscape"
                  android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale|layoutDirection|density"
                  android:launchMode="singleTask"
                  android:excludeFromRecents="false"
                  android:exported="true">

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
				<category android:name="android.intent.category.LEANBACK_LAUNCHER" />
			</intent-filter>

			<intent-filter>
				<action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
			</intent-filter>

			<meta-data android:name="unityplayer.UnityActivity" android:value="true" />
		</activity>

		<!-- 🔹 UnityPlayerGameActivity -->
		<activity android:name="com.unity3d.player.UnityPlayerGameActivity"
                  android:theme="@style/BaseUnityGameActivityTheme"
                  android:screenOrientation="landscape"
                  android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale|layoutDirection|density"
                  android:launchMode="singleTask"
                  android:excludeFromRecents="false"
                  android:exported="true">

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
				<category android:name="android.intent.category.LEANBACK_LAUNCHER" />
			</intent-filter>

			<intent-filter>
				<action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
			</intent-filter>

			<meta-data android:name="unityplayer.UnityActivity" android:value="true" />
			<meta-data android:name="android.app.lib_name" android:value="game" />
		</activity>

	</application>
</manifest>